
* {
    box-sizing: border-box;
}

html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight:300;
    font-size:16px;
    background-color: var(--eo-surface-background);
}

.page {
    padding:50px;
    position:relative;
    min-height:100%;
}

a {
    color:var(--primary);
}
hr {
    height:0;
    background:transparent;
    border-top:1px solid #ccc;
    margin:30px 0;
}

ul {
    list-style: none;
}
li {
    list-style: none;
    height: 24px;
    vertical-align: middle;
}


.form-control {
    border: 1px solid #72737A;
    border-radius: 4px;
    padding: 4px 8px;
    width: 300px;
}


.note {
    font-family: courier, monospace;
    color: #7B61FF;
    font-size: 13px;
}

.btn {
    max-width: var(--button_width);
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 54px;
    padding: 0 16px;
    color: #fff;
    background: var(--eo-primary-500);
    border: 1px solid var(--eo-primary-500);
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    line-height: 32px;
    min-width:  var(--button_min_width);
    text-align: center;
    margin-right:8px;
    margin-left:0;
    cursor:pointer;
}
.btn-secondary{
    background: #fff;
    color: var(--eo-primary-500);
}
.btn.disabled {
    background: var(--eo-primary-100);
    border-color: var(--eo-primary-100);
    color: var(--eo-primary-300);
    cursor:no-drop;
}
.btn-secondary:hover {
    background-color: var(--eo-surface-background);
}
.btn-left {
    float:left;
    margin-right:8px ! important;
    margin-left:0 ! important;
}

.btn svg {
    display: inline-block;
    vertical-align: middle;
}


.text-right {
    text-align: right;
}
.text-right .btn {
    margin-right:0px;
    margin-left:8px;

}
.row.sticky {
    position:sticky;
    top:0;
    background: var(--eo-surface-background);
    z-index:998;
    align-items: center;
    padding-bottom:8px;
}

.row {
    width: calc(100% + var(--g));
    margin-left: calc(var(--g) * -0.5);
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.row > * {
    margin: 0 calc(var(--g) / 2) var(--g) calc(var(--g) / 2);
}
.sticky > * {
    margin-bottom:0;
}

.col1 { width: calc(var(--c)) }
.col2 { width: calc(2 * var(--c) + 1 * var(--g) ) }
.col3 { width: calc(3 * var(--c) + 2 * var(--g) ) }
.col4 { width: calc(4 * var(--c) + 3 * var(--g) ) }
.col5 { width: calc(5 * var(--c) + 4 * var(--g) ) }
.col6 { width: calc(6 * var(--c) + 5 * var(--g) ) }
.col7 { width: calc(7 * var(--c) + 6 * var(--g) ) }
.col8 { width: calc(8 * var(--c) + 7 * var(--g) ) }
.col9 { width: calc(9 * var(--c) + 8 * var(--g) ) }
.col10 { width: calc(10 * var(--c) + 9 * var(--g) ) }
.col11 { width: calc(11 * var(--c) + 10 * var(--g) ) }
.col12 { width: calc(12 * var(--c) + 11 * var(--g) ) }


.tile {
    display:flex;
    flex-direction: column;
    width:100%;
    aspect-ratio: 1;
    border-radius:12px;
    background:#fff;
    text-align:center;
    box-shadow:0 6px 10px rgba(186, 191, 195, 0.2);
    cursor:pointer;
    transition: all 0.2s linear;
    vertical-align:top;
    justify-content: center;
}
.tile .icon {
    width: calc( (100% - 32px) / 3);
    aspect-ratio: 1;
    margin:10% auto 8px auto;
    background-color: transparent;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    transition: all 0.2s linear;
}
.tile b {
    display:block;
    padding:5% 4px 4px 4px;
    line-height:24px;
    font-size:100%;
}

.tile .tools a {
    display:inline-block;
    width:20px;
    height:20px;
    margin:0 8px;
    background-color: transparent;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:2px;
    transition: all 0.2s linear;
    opacity:0.8;
}
.tile .tools a:hover {
    transform: scale(1.1);
    opacity:1;
}
.tile .tools a.add 			{ background-image:url(../images/icons/add.svg) }
.tile .tools a.filter 		{ background-image:url(../images/icons/filter.svg) }
.tile .tools a.summary 		{ background-image:url(../images/icons/summary.svg) }
.tile .tools a.tool 		{ background-image:url(../images/icons/tool.svg) }

.tile:hover {
    transform: scale(1.02);
    box-shadow:0 10px 10px rgba(186, 191, 195, 0.3);
}
.tile:hover .icon {
    transform: scale(1.05);
}
.tile:hover .tools {
    opacity:1;
}
.tile .tools {
    /*border-top:1px solid #eee;*/
    padding:5% 4px 4px 4px;
    transition: all 0.5s linear;
    opacity:1;
}
@media (min-width: 600px) {
    .search-bar {
        display:flex ! important;
    }
    .card-31 {
        aspect-ratio: 3/1.5!important;
    }
    .card-32 {
        aspect-ratio: 2/1 !important;
    }
    .card .big-num {
        text-align:left ! important;
    }
    .tile b { font-size:120%; }
    .col-sm-1 { width: calc(var(--c)) }
    .col-sm-2 { width: calc(2 * var(--c) + 1 * var(--g) ) }
    .col-sm-3 { width: calc(3 * var(--c) + 2 * var(--g) ) }
    .col-sm-4 { width: calc(4 * var(--c) + 3 * var(--g) ) }
    .col-sm-5 { width: calc(5 * var(--c) + 4 * var(--g) ) }
    .col-sm-6 { width: calc(6 * var(--c) + 5 * var(--g) ) }
    .col-sm-7 { width: calc(7 * var(--c) + 6 * var(--g) ) }
    .col-sm-8 { width: calc(8 * var(--c) + 7 * var(--g) ) }
    .col-sm-9 { width: calc(9 * var(--c) + 8 * var(--g) ) }
    .col-sm-10 { width: calc(10 * var(--c) + 9 * var(--g) ) }
    .col-sm-11 { width: calc(11 * var(--c) + 10 * var(--g) ) }
    .col-sm-12 { width: calc(12 * var(--c) + 11 * var(--g) ) }
}
@media (min-width: 960px) {

    
    .menu-icon {
        display:inline-block ! important;
    }
    .menu-icon.mobile {
        display:none ! important;
    }
    .tile .tools a {
        margin:0 2px;
    }
    .tile b { font-size:135%; }
    .tile .tools {
        opacity:0;
    }
    .col-md-1 { width: calc(var(--c)) }
    .col-md-2 { width: calc(2 * var(--c) + 1 * var(--g) ) }
    .col-md-3 { width: calc(3 * var(--c) + 2 * var(--g) ) }
    .col-md-4 { width: calc(4 * var(--c) + 3 * var(--g) ) }
    .col-md-5 { width: calc(5 * var(--c) + 4 * var(--g) ) }
    .col-md-6 { width: calc(6 * var(--c) + 5 * var(--g) ) }
    .col-md-7 { width: calc(7 * var(--c) + 6 * var(--g) ) }
    .col-md-8 { width: calc(8 * var(--c) + 7 * var(--g) ) }
    .col-md-9 { width: calc(9 * var(--c) + 8 * var(--g) ) }
    .col-md-10 { width: calc(10 * var(--c) + 9 * var(--g) ) }
    .col-md-11 { width: calc(11 * var(--c) + 10 * var(--g) ) }
    .col-md-12 { width: calc(12 * var(--c) + 11 * var(--g) ) }
}
@media (min-width: 1264px) {
    .tile b { font-size:127%; }
    .col-lg-1 { width: calc(var(--c)) }
    .col-lg-2 { width: calc(2 * var(--c) + 1 * var(--g) ) }
    .col-lg-3 { width: calc(3 * var(--c) + 2 * var(--g) ) }
    .col-lg-4 { width: calc(4 * var(--c) + 3 * var(--g) ) }
    .col-lg-5 { width: calc(5 * var(--c) + 4 * var(--g) ) }
    .col-lg-6 { width: calc(6 * var(--c) + 5 * var(--g) ) }
    .col-lg-7 { width: calc(7 * var(--c) + 6 * var(--g) ) }
    .col-lg-8 { width: calc(8 * var(--c) + 7 * var(--g) ) }
    .col-lg-9 { width: calc(9 * var(--c) + 8 * var(--g) ) }
    .col-lg-10 { width: calc(10 * var(--c) + 9 * var(--g) ) }
    .col-lg-11 { width: calc(11 * var(--c) + 10 * var(--g) ) }
    .col-lg-12 { width: calc(12 * var(--c) + 11 * var(--g) ) }
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    padding:0;
}
.breadcrumb li {
    padding-right:8px;
}
.breadcrumb li a {
    position:relative;
    display: inline-block;
    line-height:100%;
    padding-right:16px;
    color: var(--eo-primary-500);
    font-weight:500;
}
.breadcrumb li a:after {
    position: absolute;
    display:block;
    content: '/';
    right:0;
    top:0;

}


.tabs {
    display: flex;
    flex-direction: row;
    padding:0;
}
.tabs li {
    padding-right:16px;
    overflow: hidden;
}
.tabs li a {
    display: inline-block;
    line-height: 24px;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    position:relative;
}

.tabs li a:after {
    position: absolute;
    display:block;
    content: '';
    background: var(--eo-secondary-500);
    width:100%;
    height:3px;
    right:100%;
    bottom:0;
    transition: right 0.2s linear;

}
.tabs li a.active:after {
    right:0;

}

.card {
    aspect-ratio:revert;
    width:100%;
    border-radius:12px;
    background:#fff;
    box-shadow:0 6px 10px rgba(186, 191, 195, 0.2);
    vertical-align:top;
}
.card .card-header {
    display: block;
    padding:8px 16px;
    font-size:14px;
    font-weight:600;
}
.card .card-body {
    display: block;
    padding:8px 16px;
}
.card .big-num {
    font-size:3.5em;
    line-height:1em;
    color: var(--eo-primary-500);
    text-align:center;
}
.card .big-num.minor {
    color: #72737A
}
.card .big-num.danger {
    color: var(--eo-critical-500);
}



.pagination-wrapper {
    background:#fff;
    text-align:center;
    height:40px;
    position:absolute;
    left:0;
    bottom:0;
    position:sticky ! important;
}
.pagination {
   padding:8px;
}


h1 {
    font-weight: 100;
    margin-bottom:16px;
}
.i-16,
.i-20,
.i-24,
.i-32 {
    display:inline-block;
    background-position: center center;
    background-size:cover;
    text-decoration:none;
    vertical-align: middle;
}
.i-16 {
    width:16px;
    height:16px;
    cursor:pointer
}
.i-20 {
    width:20px;
    height:20px;
    cursor:pointer
}
.i-24 {
    width:24px;
    height:24px;
    cursor:pointer
}

.text-right .i-24+.i-24 {
    margin-left:16px;
    margin-right:4px;
}
.i-32 {
    width:32px;
    height:32px;
}
h1 .i-32 {
	margin-bottom: 6px;
	vertical-align: middle;
}
.i-actions { background-image:url(../images/icons/actions.svg) }
.i-attachment { background-image:url(../images/icons/attachment.svg) }
.i-close { background-image:url(../images/icons/close.svg) }
.i-download { background-image:url(../images/icons/download.svg) }
.i-edit { background-image:url(../images/icons/edit.svg) }
.i-filter { background-image:url(../images/icons/filter.svg)}
.i-hinton-plot { background-image:url(../images/icons/hinton-plot.svg)}
.i-incidents { background-image:url(../images/icons/incidents.svg)}
.i-menu { background-image:url(../images/icons/menu.svg)}
.i-notification { background-image:url(../images/icons/notification.svg)}
.i-printer { background-image:url(../images/icons/printer.svg)}
.i-rocket { background-image:url(../images/icons/rocket.svg)}
.i-search { background-image:url(../images/icons/search.svg)}
.i-switcher { background-image:url(../images/icons/switcher.svg)}
.i-trash { background-image:url(../images/icons/trash-can.svg)}


.menu-icons {
     flex:1;
}
.menu-icon {
    width:40px;
    height:40px;
    vertical-align: middle;
    border-radius:20px;
    text-align: center;
    line-height:24px;
    font-size:24px;
    padding-top:6px;
    display:none;
}
.menu-icon.mobile {
    display:inline-block;
}
.menu-icon:hover {
    background-color:#f5f6ff;
}
.profile-picture {
    background-color: var(--eo-primary-500);
    color:#fff;
}

.profile-picture:hover {
    background-color: var(--eo-primary-500);
}


.search-bar {
    border: 1px solid var(--eo-border-input);
    display:none;
    height: 40px;
    border-radius:20px;
    padding:0px 12px;
    flex:2;
    max-width:480px;
    margin-left:16px;
    flex-direction:row;
    align-items: center;
}
.search-bar > *{
    vertical-align: middle;
}
.search-bar input {
    border:none;
    outline:none;
    vertical-align: middle;
    background:none;
    flex:1;
    height:40px;
}




.form h4 {
    font-weight:300;
    font-size:21px;
    margin: 12px 0;
}
.form .form-item {
    margin-bottom:32px;
    overflow: auto;
}

.form label {
    font-weight:700;
    display: block;
    margin-bottom:4px;
}
.form-control {
    font-size:16px;
    line-height:24px;
    padding:12px 16px;
    border-radius: 12px;
    border:1px solid var(--eo-border-input);
    width:100%;
    max-width: 480px;
}