
* {
    box-sizing: border-box;
}

html, body{
    width:100%;
    height:100%;
    margin:0;
    padding:0;
    font-family: "IBM Plex Sans", sans-serif;
    font-weight:400;
    font-size:16px;
    background-color: var(--eo-surface-background);
}
@media print { 
    body { background-color: #fff }
}

.page {
    padding:50px;
    position:relative;
    min-height:100%;
}

a {
    color:var(--primary);
}
hr {
    height:0;
    background:transparent;
    border:none;
    border-top:1px solid rgba(26,25,25,10%);
    margin:30px 0;
}
hr.small {
    margin:16px 0;
}

ul {
    list-style: none;
}
li {
    list-style: none;
    height: 24px;
    vertical-align: middle;
}


.form-control {
    border: 1px solid #72737A;
    border-radius: 4px;
    padding: 4px 8px;
    width: 300px;
    font-family: "IBM Plex Sans", sans-serif;
}
.form-item label{
   display:block;
   font-weight:bold;
   padding-bottom:4px;
}
.form-item label .optional {
    font-weight:300;
}
.form-item label .required {
    color: var(--eo-critical-500)
}
.form-item p{
   display:block;
   color:#666;
   padding-bottom:12px;
   font-size:14px;
   margin:0;
}


.note {
    font-family: courier, monospace;
    color: #7B61FF;
    font-size: 13px;
}

.btn {
    max-width: var(--button_width);
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 54px;
    padding: 0 16px;
    color: #fff;
    background: var(--eo-primary-500);
    border: 1px solid var(--eo-primary-500);
    text-decoration: none;
    vertical-align: middle;
    display: inline-block;
    white-space: nowrap;
    line-height: 32px;
    min-width:  var(--button_min_width);
    text-align: center;
    margin-right:8px;
    margin-left:0;
    cursor:pointer;
    position:relative;
}
.btn-secondary{
    background: #fff;
    color: var(--eo-primary-500);
}
.btn-secondary:hover {
    background-color: var(--eo-surface-background);
}
.btn-clear{
    background: transparent;
    border-color: transparent;
    color: var(--eo-primary-500);
    margin-bottom:0 !important;
}
.btn-clear:hover{
    background: transparent;
    border-color: var(--eo-surface-background);
}
.btn-secondary:hover {
    background-color: var(--eo-surface-background);
}
.btn.disabled {
    background: var(--eo-primary-100);
    border-color: var(--eo-primary-100);
    color: var(--eo-primary-300);
    cursor:no-drop;
}
.btn-left {
    float:left;
    margin-right:8px ! important;
    margin-left:0 ! important;
}
.btn-right {
    float:right;
    margin-left:8px ! important;
    margin-right:0 ! important;
}
.btn-mob {
    width:100%;
    line-height: 48px;
    margin-bottom:16px;
}

.btn svg {
    display: inline-block;
    vertical-align: middle;
}


.text-right {
    text-align: right;
}
.text-right .btn {
    margin-right:0px;
    margin-left:8px;

}
.row.sticky {
    position:sticky;
    top:0;
    background: var(--eo-surface-background);
    z-index:998;
    align-items: center;
    padding-bottom:0px;
}

.row {
    width: calc(100% + var(--g));
    margin-left: calc(var(--g) * -0.5);
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
}
.row > * {
    margin: 0 calc(var(--g) / 2) var(--g) calc(var(--g) / 2);
}
.sticky > * {
    margin-bottom:0;
}


/* this grid system is CRAP */
.col1 { width: calc(var(--c)) }
.col2 { width: calc(2 * var(--c) + 1 * var(--g) ) }
.col3 { width: calc(3 * var(--c) + 2 * var(--g) ) }
.col4 { width: calc(4 * var(--c) + 3 * var(--g) ) }
.col5 { width: calc(5 * var(--c) + 4 * var(--g) ) }
.col6 { width: calc(6 * var(--c) + 5 * var(--g) ) }
.col7 { width: calc(7 * var(--c) + 6 * var(--g) ) }
.col8 { width: calc(8 * var(--c) + 7 * var(--g) ) }
.col9 { width: calc(9 * var(--c) + 8 * var(--g) ) }
.col10 { width: calc(10 * var(--c) + 9 * var(--g) ) }
.col11 { width: calc(11 * var(--c) + 10 * var(--g) ) }
.col12 { width: calc(12 * var(--c) + 11 * var(--g) ) }


/*so it needs hacking for nested */
.col-md-9 .col12 { width: 100% !important }
.col-md-9 .col12 { width: 100% !important }



.tile {
    display:flex;
    flex-direction: column;
    width:100%;
    aspect-ratio: 1;
    border-radius:12px;
    background:#fff;
    text-align:center;
    box-shadow:0 6px 10px rgba(186, 191, 195, 0.2);
    cursor:pointer;
    transition: all 0.2s linear;
    vertical-align:top;
    /*justify-content: center;*/
    padding-top:10%;
}
.tile .icon {
    width: calc( (100% - 32px) / 3);
    aspect-ratio: 1;
    margin:10% auto 8px auto;
    background-color: transparent;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    transition: all 0.2s linear;
}
.tile b {
    display:block;
    padding:5% 4px 4px 4px;
    line-height:24px;
    font-size:100%;
}

.tile .tools a {
    display:inline-block;
    width:20px;
    height:20px;
    margin:0 8px;
    background-color: transparent;
    background-position: center center;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius:2px;
    transition: all 0.2s linear;
    opacity:0.8;
}
.tile .tools a:hover {
    transform: scale(1.1);
    opacity:1;
}
.tile .tools a.add 			{ background-image:url(../images/icons/add.svg) }
.tile .tools a.filter 		{ background-image:url(../images/icons/filter.svg) }
.tile .tools a.summary 		{ background-image:url(../images/icons/summary.svg) }
.tile .tools a.tool 		{ background-image:url(../images/icons/tool.svg) }

.tile:hover {
    transform: scale(1.02);
    box-shadow:0 10px 10px rgba(186, 191, 195, 0.3);
}
.tile:hover .icon {
    transform: scale(1.05);
}
.tile:hover .tools {
    opacity:1;
}
.tile .tools {
    /*border-top:1px solid #eee;*/
    padding:5% 4px 4px 4px;
    transition: all 0.5s linear;
    opacity:0;
    display:none;
}



.d960up-flex {
    display:none;
}
.d960up-block {
    display:none;
}
@media (min-width: 600px) {
    .search-bar {
        display:flex ! important;
    }
    .card-3_5 {
        aspect-ratio: 6/2!important;
    }
    .card-61 {
        aspect-ratio: 6/2.1125!important;
    }
    .card-31 {
        aspect-ratio: 3/1.5!important;
    }
    .card-32 {
        aspect-ratio: 2/1.03125 !important;
    }
    .card .big-num {
        text-align:left ! important;
    }
    .card .mid-num {
        text-align:left ! important;
    }
    .tile b { font-size:120%; }
    .col-sm-1 { width: calc(var(--c)) }
    .col-sm-2 { width: calc(2 * var(--c) + 1 * var(--g) ) }
    .col-sm-3 { width: calc(3 * var(--c) + 2 * var(--g) ) }
    .col-sm-4 { width: calc(4 * var(--c) + 3 * var(--g) ) }
    .col-sm-5 { width: calc(5 * var(--c) + 4 * var(--g) ) }
    .col-sm-6 { width: calc(6 * var(--c) + 5 * var(--g) ) }
    .col-sm-7 { width: calc(7 * var(--c) + 6 * var(--g) ) }
    .col-sm-8 { width: calc(8 * var(--c) + 7 * var(--g) ) }
    .col-sm-9 { width: calc(9 * var(--c) + 8 * var(--g) ) }
    .col-sm-10 { width: calc(10 * var(--c) + 9 * var(--g) ) }
    .col-sm-11 { width: calc(11 * var(--c) + 10 * var(--g) ) }
    .col-sm-12 { width: calc(12 * var(--c) + 11 * var(--g) ) }
}
@media (min-width: 960px) {

    .drawer .i-maximize {
        display:inline-block ! important;
    }
    .pullout-head {
        padding: 0 32px;
    }
    .pullout-body {
        padding:32px;
    }
    .d960up-flex {
        display:flex;
    }
    .d960up-block {
        display:block;
    }
    
    .menu-icon {
        display:inline-block ! important;
    }
    .menu-icon.mobile {
        display:none ! important;
    }
    .tile .tools a {
        margin:0 2px;
    }
    .tile b { font-size:135%; }
    
    .col-md-1 { width: calc(var(--c)) }
    .col-md-2 { width: calc(2 * var(--c) + 1 * var(--g) ) }
    .col-md-3 { width: calc(3 * var(--c) + 2 * var(--g) ) }
    .col-md-4 { width: calc(4 * var(--c) + 3 * var(--g) ) }
    .col-md-5 { width: calc(5 * var(--c) + 4 * var(--g) ) }
    .col-md-6 { width: calc(6 * var(--c) + 5 * var(--g) ) }
    .col-md-7 { width: calc(7 * var(--c) + 6 * var(--g) ) }
    .col-md-8 { width: calc(8 * var(--c) + 7 * var(--g) ) }
    .col-md-9 { width: calc(9 * var(--c) + 8 * var(--g) ) }
    .col-md-10 { width: calc(10 * var(--c) + 9 * var(--g) ) }
    .col-md-11 { width: calc(11 * var(--c) + 10 * var(--g) ) }
    .col-md-12 { width: calc(12 * var(--c) + 11 * var(--g) ) }

    /*.col-md-9 .col-md-3 { width: calc(3/9 * 100% - 16px) !important; }*/
    .col-md-9 .col-md-6 { width: calc(6/9 * 100% - 16px) !important; }
}
@media (min-width: 1264px) {
    .tile b { font-size:127%; }
    .col-lg-1 { width: calc(var(--c)) }
    .col-lg-2 { width: calc(2 * var(--c) + 1 * var(--g) ) }
    .col-lg-3 { width: calc(3 * var(--c) + 2 * var(--g) ) }
    .col-lg-4 { width: calc(4 * var(--c) + 3 * var(--g) ) }
    .col-lg-5 { width: calc(5 * var(--c) + 4 * var(--g) ) }
    .col-lg-6 { width: calc(6 * var(--c) + 5 * var(--g) ) }
    .col-lg-7 { width: calc(7 * var(--c) + 6 * var(--g) ) }
    .col-lg-8 { width: calc(8 * var(--c) + 7 * var(--g) ) }
    .col-lg-9 { width: calc(9 * var(--c) + 8 * var(--g) ) }
    .col-lg-10 { width: calc(10 * var(--c) + 9 * var(--g) ) }
    .col-lg-11 { width: calc(11 * var(--c) + 10 * var(--g) ) }
    .col-lg-12 { width: calc(12 * var(--c) + 11 * var(--g) ) }
}
@media (min-width: 1500px) {
    .tile b { font-size:110%; }
    .col-xl-1 { width: calc(1.55 * var(--c)) }
    .col-xl-2 { width: calc(2 * var(--c) + 1 * var(--g) ) }
    .col-xl-3 { width: calc(3 * var(--c) + 2 * var(--g) ) }
    .col-xl-4 { width: calc(4 * var(--c) + 3 * var(--g) ) }
    .col-xl-5 { width: calc(5 * var(--c) + 4 * var(--g) ) }
    .col-xl-6 { width: calc(6 * var(--c) + 5 * var(--g) ) }
    .col-xl-7 { width: calc(7 * var(--c) + 6 * var(--g) ) }
    .col-xl-8 { width: calc(8 * var(--c) + 7 * var(--g) ) }
    .col-xl-9 { width: calc(9 * var(--c) + 8 * var(--g) ) }
    .col-xl-10 { width: calc(10 * var(--c) + 9 * var(--g) ) }
    .col-xl-11 { width: calc(11 * var(--c) + 10 * var(--g) ) }
    .col-xl-12 { width: calc(12 * var(--c) + 11 * var(--g) ) }
}

.breadcrumb {
    display: flex;
    flex-direction: row;
    padding:0;
}
.breadcrumb li {
    padding-right:8px;
}
.breadcrumb li a {
    position:relative;
    display: inline-block;
    line-height:100%;
    padding-right:16px;
    color: var(--eo-primary-500);
    font-weight:300;
}
.breadcrumb li a:after {
    position: absolute;
    display:block;
    content: '/';
    right:0;
    top:0;

}


.tabs {
    display: flex;
    flex-direction: row;
    padding:0;
}
.tabs .i-24 {
    display: none; /* hide icons on desktop - theyre only used tablet and down at screen bottom */
}
.tabs li {
    padding-right:16px;
    overflow: hidden;
}
.tabs li a {
    display: inline-block;
    line-height: 24px;
    text-decoration: none;
    /*text-transform: uppercase;*/
    font-weight: 700;
    overflow: hidden;
    white-space: nowrap;
    position:relative;
}

.tabs li a:after {
    position: absolute;
    display:block;
    content: '';
    background: var(--eo-secondary-500);
    width:100%;
    height:3px;
    right:100%;
    bottom:0;
    transition: right 0.2s linear;

}
.tabs li a.active:after {
    right:0;

}


.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.drawer, .modal {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index: 10000;
}
.drawer .mask, .modal .mask {
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    pointer-events: none;
    background-color: rgba(0,0,0,0);
    transition: background-color 1s linear;
}
.drawer .mask.block, .modal .mask.block {
    pointer-events:all;
}

.drawer .mask.visible, .modal .mask.visible {
    background-color: rgba(0,0,0,0.4);
}
.drawer .pullout {
    position:absolute;
    /*left:100%;*/
    right: -544px;
    width:544px;
    max-width:100%;
    height:100%;
    background:#fff;
    transition:right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), width 0.3s linear;
}


.modal .modal-window {
    width:840px;
    max-width:calc(100vw - 32px);
    height:auto;
    max-height:calc(100vh - 32px);
    background:#fff;
    box-shadow: 0 16px 32px rgba(0,0,0,0.1);
    transition: opacity 0.3s linear;
    z-index: 1;
    border-radius:12px; 
    /*transition:right 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), width 0.3s linear;*/
}
.modal .modal-window.in {
    opacity: 1;
}

.modal-window {
    display:flex;
    flex-direction: column;
}




.drawer .pullout:after {
    content: '';
    display:block;
    position:absolute;
    left:100%;
    top:0;
    width:100px;
    height:100%;
    background:#fff;
}
.drawer .pullout.in {
    right: 0;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
}

.pullout {
    display:flex;
    flex-direction: column;
}

.pullout-head, .modal-head {
    padding: 0 16px;
}
.pullout-head h2, .modal-head h2 {
    font-weight:300;
}
.modal-head h2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.drawer .i-maximize {
    display:none;
}
.pullout-body, .modal-body {
    flex:1;
    padding:16px;
    overflow-y: auto;
}

.pullout .close {
    float:right;
}

.card {
    aspect-ratio:revert;
    width:100%;
    border-radius:12px;
    background:#fff;
    box-shadow:0 6px 10px rgba(186, 191, 195, 0.2);
    vertical-align:top;
}
.card .card-header {
    display: block;
    padding:8px 16px;
    font-size:14px;
    font-weight:600;
}
.card .card-body {
    display: block;
    padding:8px 16px;
}
.card .big-num {
    font-size:3.5em;
    line-height:1em;
    color: var(--eo-primary-500);
    text-align:center;
}
.card .mid-num {
    font-size:2.4em;
    line-height:1em;
    color: var(--eo-border-input);
    text-align:center;
}
.card p {
    margin:0;
}




.pagination-wrapper {
    background:#fff;
    text-align:center;
    height:40px;
    position:absolute;
    left:0;
    bottom:0;
    position:sticky ! important;
}
.pagination {
   padding:8px;
}


h1 {
    font-weight: 100;
    margin-bottom:16px;
}
.i-12,
.i-16,
.i-20,
.i-24,
.i-32,
.i-40 {
    display:inline-block;
    background-position: center center;
    background-size:cover;
    text-decoration:none;
    vertical-align: middle;
}
.i-12 {
    width:12px;
    height:12px;
    cursor:pointer
}
.i-16 {
    width:16px;
    height:16px;
    cursor:pointer
}
.i-20 {
    width:20px;
    height:20px;
    cursor:pointer
}
.i-24 {
    width:24px;
    height:24px;
    cursor:pointer
}
.i-40 {
    width:40px;
    height:40px;
    cursor:pointer
}
.text-center {
    text-align: center;
}
.text-right .i-24+.i-24 {
    margin-left:16px;
    margin-right:4px;
}
.i-32 {
    width:32px;
    height:32px;
}
h1 .i-32 {
	margin-bottom: 6px;
	vertical-align: middle;
}
.i-actions              { background-image:url(../images/icons/actions.svg) }
.i-add                  { background-image:url(../images/icons/add--alt.svg) }
.i-administration       { background-image:url(../images/icons/administration.svg) }
.i-apps                 { background-image:url(../images/icons/apps.svg) }
.i-arrow-down           { background-image:url(../images/icons/arrow-down.svg) }
.i-arrow-up             { background-image:url(../images/icons/arrow-up.svg) }
.i-arrow-left           { background-image:url(../images/icons/arrow-left.svg) }
.i-arrow-right          { background-image:url(../images/icons/arrow-right.svg) }
.i-attachment           { background-image:url(../images/icons/attachment.svg) }
.i-calendar             { background-image:url(../images/icons/calendar.svg) }
.i-checkbox             { background-image:url(../images/icons/checkbox.svg) }
.i-checkbox-selected    { background-image:url(../images/icons/checkbox-selected.svg) }
.i-checkmark-green      { background-image:url(../images/icons/checkmark-green.svg) }
.i-chemical-manager     { background-image:url(../images/icons/chemical_manager.svg) }
.i-chevron-down         { background-image:url(../images/icons/chevron-down.svg) }
.i-chevron-up           { background-image:url(../images/icons/chevron-up.svg) }
.i-close                { background-image:url(../images/icons/close.svg) }
.i-crisis-manager       { background-image:url(../images/icons/crisis_manager.svg) }
.i-dashboard            { background-image:url(../images/icons/dashboard.svg) }
.i-desktop              { background-image:url(../images/icons/desktop.svg) }
.i-download             { background-image:url(../images/icons/download.svg) }
.i-edit                 { background-image:url(../images/icons/edit.svg) }
.i-ehs                  { background-image:url(../images/icons/health_safety.svg) }
.i-epr                  { background-image:url(../images/icons/epr.svg)}
.i-error                { background-image:url(../images/icons/error.svg) }
.i-feide-color          { background-image:url(../images/icons/feide_login_icon.svg)}
.i-filter               { background-image:url(../images/icons/filter.svg)}
.i-fingerprint          { background-image:url(../images/icons/fingerprint.svg)}
.i-hazard-assessments   { background-image:url(../images/icons/hazard-assessments.svg)}
.i-hamburger            { background-image:url(../images/icons/hamburger.svg)}
.i-help                 { background-image:url(../images/icons/help.svg)}
.i-hinton-plot          { background-image:url(../images/icons/hinton-plot.svg)}
.i-idea                 { background-image:url(../images/icons/idea.svg)}
.i-incidents            { background-image:url(../images/icons/incidents.svg)}
.i-link                 { background-image:url(../images/icons/link.svg)}
.i-location             { background-image:url(../images/icons/location.svg)}
.i-logo                 { background-image:url(../images/icons/logo.svg)}
.i-maximize             { background-image:url(../images/icons/maximize.svg)}
.i-menu                 { background-image:url(../images/icons/menu.svg)}
.i-minus                { background-image:url(../images/icons/minus.svg)}
.i-microsoft-color      { background-image:url(../images/icons/microsoft_login_icon.svg)}
.i-minimize             { background-image:url(../images/icons/minimize.svg)}
.i-news                 { background-image:url(../images/icons/news.svg)}
.i-notification         { background-image:url(../images/icons/notification.svg)}
.i-orderby              { background-image:url(../images/icons/orderby.svg)}
.i-page-single          { background-image:url(../images/icons/page-single.svg)}
.i-page-tabs            { background-image:url(../images/icons/page-tabs.svg)}
.i-pin                  { background-image:url(../images/icons/pin.svg)}
.i-platform             { background-image:url(../images/icons/platform.svg)}
.i-platform-blue        { background-image:url(../images/icons/platform-blue.svg)}
.i-plus                 { background-image:url(../images/icons/plus.svg)}
.i-printer              { background-image:url(../images/icons/printer.svg)}
.i-qr                   { background-image:url(../images/icons/qr.svg)}
.i-reset                { background-image:url(../images/icons/reset.svg)}
.i-risk-assessment      { background-image:url(../images/icons/risk-assessment.svg)}
.i-rocket               { background-image:url(../images/icons/rocket.svg)}
.i-search               { background-image:url(../images/icons/search.svg)}
.i-settings             { background-image:url(../images/icons/settings.svg)}
.i-summary 		        { background-image:url(../images/icons/summary.svg)}
.i-switcher             { background-image:url(../images/icons/switcher.svg)}
.i-thumbs-down          { background-image:url(../images/icons/thumbs-down.svg)}
.i-thumbs-up            { background-image:url(../images/icons/thumbs-up.svg)}
.i-time                 { background-image:url(../images/icons/time.svg)}
.i-tool 		        { background-image:url(../images/icons/tool.svg)}
.i-trash                { background-image:url(../images/icons/trash-can.svg)}
.i-user-avatar          { background-image:url(../images/icons/user-avatar.svg)}
.i-view                 { background-image:url(../images/icons/view.svg)}


h1.page-title {
    margin-top:0;
}
h1.page-title i {
    margin-right:8px;
}

.menu-icons {
     flex:1;
}
.menu-icon {
    width:40px;
    height:40px;
    vertical-align: middle;
    border-radius:20px;
    text-align: center;
    line-height:24px;
    font-size:24px;
    padding-top:6px;
    display:inline-block;
}
.menu-icons .menu-icon {
    display:none;
}
.menu-icon.mobile {
    display:inline-block;
}
.menu-icon:hover {
    /*background-color:#f5f6ff;*/
    background:rgb(39 47 150 / 5%);
}
.menu-icon.selected {
    background:rgb(39 47 150 / 10%);
}
.menu-icon.selected:hover {
    background:rgb(39 47 150 / 10%);
}
.profile-picture {
    background-color: var(--eo-primary-500);
    color:#fff;
}

.profile-picture:hover {
    background-color: var(--eo-primary-500);
}


.search-bar {
    border: 1px solid var(--eo-border-input);
    display:none;
    height: 40px;
    border-radius:20px;
    padding:0px 12px;
    flex:2;
    max-width:480px;
    margin-left:16px;
    flex-direction:row;
    align-items: center;
}
.search-bar > *{
    vertical-align: middle;
}
.search-bar input {
    border:none;
    outline:none;
    vertical-align: middle;
    background:none;
    flex:1;
    height:40px;
}

.tag {
    color: var(--black);
    background: var(--eo-border-reduced);
    font-size:14px;
    line-height:24px;
    display:inline-block;
    margin-right:4px;
    margin-bottom:4px;
    padding:0px 8px 0px 12px;
    min-height:24px;
    border-radius:12px;
    cursor: pointer;
}
.tag.no_delete {
    padding-left:8px;
    cursor: default;
}
.tag i {
    opacity:0.5;
}


.form h4 {
    font-weight:300;
    font-size:21px;
    margin: 12px 0;
}
.form-item {
    margin-bottom:32px;
    /*overflow: auto; /* why was this here? */
}


.clamp {
    /* reduce top margin so inputs clamp together*/
    margin-top:-24px;
}

.form label {
    font-weight:700;
    display: block;
    margin-bottom:4px;
}
.form-control {
    font-family: "IBM Plex Sans", sans-serif;
    font-size:16px;
    line-height:24px;
    padding:12px 16px;
    border-radius: 12px;
    border:1px solid var(--eo-border-input);
    width:100%;
    max-width: 480px;
    outline: none;
}
.form-control:focus {
    background: #F5F6FF;
    border:1px solid var(--eo-primary-500);
    box-shadow: 0 0 4px var(--eo-primary-500);

}
div.form-control {
    padding: 0px 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
div.form-control input {
    font-family: "IBM Plex Sans", sans-serif;
    padding: 12px 0px;
    font-size:16px;
    line-height:24px;
    border: none;
    flex:1;
    outline:none;
}

.mt1 { margin-top:1em ! important }
.mt2 { margin-top:2em ! important }
.ml1 { margin-left:1em ! important }
.ml2 { margin-left:2em ! important }
.mb1 { margin-bottom:1em ! important }
.mb2 { margin-bottom:2em ! important }

.print_block { display: none }
.print_flex { display: flex }

@media print { 
    .print_block { display: block ! important }
    .print_flex { display: flex ! important }
    .no_print { display: none ! important }
}





.sidebar {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: left;
}

.sidebar li {
    height:76px;
    margin-bottom:16px;
    border-radius:12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding:0 0 0 16px;
    width:64px;
    transition: 0.3s linear;
    cursor: pointer;
}
.sidebar li span{
    max-width:0;
    display: inline-block;
    overflow: hidden;
    transition: 0.5s linear;
    white-space: nowrap;
    margin-left:8px;
}
.sidebar li:hover {
    width:100%;
    background-color: var(--eo-surface-selected);
}
.sidebar li:hover span {
    max-width:calc(100% - 40px);
}
.sidebar li.active {
    width:100%;
    /*background-color: var(--eo-secondary-500);*/
    background-color: var(--eo-surface-selected);
}
.sidebar li.active span{
    max-width:calc(100% - 40px);
}

.hometile {
    width:100%;
    border-radius:12px;
    background:#fff;
    box-shadow:0 6px 10px rgba(186, 191, 195, 0.2);
    transition: all 0.2s linear;
    display: block;
    padding: 8px 16px;
}
.home h1 {
    line-height:1em;
    padding:0;
    margin:8px 0 0 0;
}

.ar_12_1 { height:76px; }
.ar_10_1 { aspect-ratio: 10/1; }
.ar_1_1 { aspect-ratio: 1; }

.mb {
    margin-bottom:16px;
}




.evolution_slider {
    -webkit-appearance: none;
    width: 50%; /* Full-width */
    height: 10px; /* Specified height */
    border-radius:5px;
    background: rgba(255,255,255,10%); /* Grey background */
    outline: none; /* Remove outline */
    margin-top:20px;
}
.evolution_slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 32px;
    height: 16px;
    border-radius:8px;
    background: var(--eo-secondary-500);
    cursor: pointer;
}

.evolution_slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}




/* test for icon component */

svg.admin_color:hover path:nth-child(3) {
    transform-origin: 50% 50%;
    animation: icon_rotate 5s linear infinite;
}

@keyframes icon_rotate {
    0%{rotate: 0deg}
    100%{rotate:360deg}
}