
.sticky-wrapper {
	width:100%;
	max-height: calc(100vh - 150px);
	overflow:auto;
    border-radius:12px;
    position:relative;
}
.sticky-wrapper tr {
	position:relative;
}
.sticky-wrapper td.fat, .sticky-wrapper th.fat {
	width: 100%; /*hacky just for a pretty demo*/
}
.sticky-wrapper thead tr {
	background:  var(--table-header);
}
.sticky-wrapper th {
	position:sticky ! important;
	top:0;
	z-index:3;
	white-space:nowrap;
	background:  var(--table-header);
	color:  var(--table-header-color);
	padding: 8px 16px;
}
.sticky-wrapper td {
	border-bottom: 1px solid var(--table-row-border);
	padding: 8px 16px;
    background:#fff;
}
.sticky-wrapper th:first-child {
	left: 0px;
	z-index: 4;
	width: 120px;
}
.sticky-wrapper td:first-child {
	position:sticky ! important;
	background: #fff;
	left:0px;
	z-index: 2;
	width: 120px;
}

.sticky-wrapper table {
	width: 100%;
	border-collapse: collapse;
}


@media print { 
    .sticky-wrapper {
        overflow:visible;
    }
    .sticky-wrapper.print_all {
        max-height: auto ! important;
    }


    .sticky-wrapper th {
        position:relative ! important;
        top: auto ! important;
        white-space: normal ! important;
    }

    .sticky-wrapper td {
        white-space: normal ! important;
    }
    .sticky-wrapper th:first-child {
        left: auto ! important;
    }
    .sticky-wrapper td:first-child {
        position: relative ! important;
    }
}