:root {
	--black  :  #1A1919;
    --eo-primary-100: #D4D5EA;
    --eo-primary-300: #9397CA;
	--eo-primary-500: #272F96;
	--eo-secondary-500: #1CD390;
	--eo-critical-500: #E40C0C;

    --eo-warning-500: #FFC430;


    --eo-surface-background: #F6F6F7;
    --eo-surface-selected: #E4E5E7;

    --eo-border-input: #72737A;
    --eo-border-reduced: #D6DCE0;
    --eo-border: #BABFC3;

	--table-header:  #c4c9cf;
	--table-header-color:  #1a1919;
	--table-row-border:  #eee;

    --g: 16px;
    --col: calc((100% - (11 * var(--g))) / 12);
    --c: calc((100% - (12 * var(--g))) / 12);
    --gutter: calc(var(--col) + var(--g));
    --block: calc( var(--col) + 0px);

    --navH: 56px;
    --mainH: calc(100vh - var(--navH));
}