:root {
	--black  :  #16191D;
    --eo-primary-50: rgb(245, 246, 255);
    --eo-primary-100: #D4D5EA;
    --eo-primary-300: #9397CA;
	--eo-primary-500: #272F96;
	--eo-secondary-500: #1CD390;

    --eo-addon-blue: #007CFF;

    --eo-success-500: #00875A;
    --eo-warning-500: #FFC430;
	--eo-critical-500: #E40C0C;


    --eo-surface-background: #F6F6F7;
    --eo-surface-selected: #E4E5E7;

    --eo-border-input: #566576;
    --eo-border-reduced: #D6DCE0;
    --eo-border: #BABFC3;

	--table-header:  #c4c9cf;
	--table-header-color:  #16191D;
	--table-row-border:  #eee;

    --g: 16px;
    --col: calc((100% - (11 * var(--g))) / 12);
    --c: calc((100% - (12 * var(--g))) / 12);
    --gutter: calc(var(--col) + var(--g));
    --block: calc( var(--col) + 0px);
    --navH: 56px;
    --mainH: calc(100vh - var(--navH));
    --main-pad: 0 16px;
   /* --max-page:1904px;*/
    --max-page:1704px;










    /* current metrics for blue */
    --h: 236;
    --s: 59%;
    --l: 57%;
    /*
        --color-swatch-50: hsl(var(--h), var(--s),calc(var(--l) + 47%));
    --color-swatch-100: hsl(var(--h), var(--s),calc(var(--l) + 40%));
    --color-swatch-200: hsl(var(--h), var(--s),calc(var(--l) + 30%));
    --color-swatch-300: hsl(var(--h), var(--s),calc(var(--l) + 20%));
    --color-swatch-400: hsl(var(--h), var(--s),calc(var(--l) + 10%));
    --color-swatch-500: hsl(var(--h), var(--s),var(--l));
    --color-swatch-600: hsl(var(--h), var(--s),calc(var(--l) - 10%));
    --color-swatch-700: hsl(var(--h), var(--s),calc(var(--l) - 20%));
    --color-swatch-800: hsl(var(--h), var(--s),calc(var(--l) - 30%));
    --color-swatch-900: hsl(var(--h), var(--s),calc(var(--l) - 40%));
    --color-swatch-1000: hsl(var(--h), var(--s),calc(var(--l) - 45%));
    */

    


    --color-swatch-50: hsl(var(--h), var(--s),calc(var(--l) + 40%));
    --color-swatch-100: hsl(var(--h), var(--s),calc(var(--l) + 38%));
    --color-swatch-200: hsl(var(--h), var(--s),calc(var(--l) + 30%));
    --color-swatch-300: hsl(var(--h), var(--s),calc(var(--l) + 20%));
    --color-swatch-400: hsl(var(--h), var(--s),calc(var(--l) + 10%));
    --color-swatch-500: hsl(var(--h), var(--s),var(--l));
    --color-swatch-600: hsl(var(--h), var(--s),calc(var(--l) - 10%));
    --color-swatch-700: hsl(var(--h), var(--s),calc(var(--l) - 20%));
    --color-swatch-800: hsl(var(--h), var(--s),calc(var(--l) - 30%));
    --color-swatch-900: hsl(var(--h), var(--s),calc(var(--l) - 40%));
      
}