:root {
	--black:  #1A1919;
	--eo-primary-500: #272F96;
	--eo-secondary-500: #1CD390;


    --eo-surface-background: #F6F6F7;

	--table-header:  #4D5661;
	--table-header-color:  #fff;
	--table-row-border:  #eee;
}